<!-- <app-textarea [formControl]="control"></app-textarea>
control = new formControl();
<button (click)="control.disable()">Disabled</button> -->
<form class="col-md-12" [formGroup]="form">
  <div class="col-md-12 row" style="background-color: aqua">
    <app-textarea formControlName="title" [disabled]=true></app-textarea>
  </div>
  <div class="row">
    <div  class="col-md-9 row"  style="background-color: blueviolet">
      <app-textarea formControlName="title1"></app-textarea>
    </div>
    <div  class="col-md-3 row"  style="background-color: red">
        <app-hmt-input formControlName="title2" [filter]=true></app-hmt-input>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6"  style="background-color: green">
      <app-textarea formControlName="title3"></app-textarea>
    </div>
    <div class="col-md-6"  style="background-color: yellow">
      <app-textarea formControlName="title4"></app-textarea>
    </div>
  </div>
  <div class="col-md-12" style="background-color: tomato">
      <app-hmt-input formControlName="title5"></app-hmt-input>
  </div>

  <div class="row" >
    <div class="col-md-1" style="background-color: blueviolet">Switch : </div> <div class="col-md-1" style="background-color: blueviolet">
      <app-input-switch formControlName="title6"></app-input-switch>
    </div>
    <div class="col-md-5"><app-radio-button  formControlName="title7"></app-radio-button></div>
  </div>

  <app-check-box></app-check-box>
</form>

<div>
  {{ form.value | json }}
</div>